/* ==========================================================================
   Base Styles
   ========================================================================== */

html {
  color: rgb(213, 208, 206);
}

body {
  background-color: rgb(25, 25, 25);
	background-image: url(../../../img/brillant-dark.png);
}

nav, footer {
  background-color: rgba(0,0,0,0.4);
}

nav li:hover, nav label:hover {
	background-color: rgb(32, 113, 124);
	text-shadow: 1px 1px 3px rgb(0, 0, 0);
}

a {
	color: rgb(32, 113, 124);
	border-bottom: dotted 1px rgb(32, 113, 124);
}

a:hover {
	color: rgb(14, 71, 104);
	border-bottom: dotted 1px rgb(14, 71, 104);
}


/* ==========================================================================
   General Classes
   ========================================================================== */

/* Navigation */
.navigation {
  background-color: rgb(32, 113, 124);
}

/* Dropdown */
.second-level {
  background: rgb(32, 113, 124);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.second-level {
	color: rgb(236, 231, 229);
}


/* Slider-Title */
.slider-title {
  color: rgb(235,232,222);
  background-color: rgb(51, 51, 51);
}

/* Slider-Description */
.slider-description {
  color: rgb (74,70,59);
  background-color: rgb(235,232,222);
}

/* Slide-Image */
.slideshow, .divider {
  background-color: rgba(0,0,0,0.4);
}


/* Separator */
.separator {
  border-bottom: dashed 2px rgb(39, 37, 36);
}

/* Login-Registo */
.formulary {
  background: rgba(19, 35, 47, 0.9);
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group li a {
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
}

.tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}

.tab-group .active a {
  background: #1ab188;
  color: #ffffff;
}

.form-title {
  color: #ffffff;
}

.form-label {
  color: rgba(255, 255, 255, 0.5);
}

.form-label .req {
  margin: 2px;
  color: #1ab188;
}

.form-label.highlight {
  color: #ffffff;
}

.form-input {
  border: 1px solid #a0b3b0;
  color: #ffffff;
}

.form-input:focus {
  outline: 0;
  border-color: #1ab188;
}

.button {
  background: #1ab188;
  color: #ffffff;
}

.button-contact {
  background: #1ab188;
  color: #ffffff;
}

.button:hover, .button:focus, .button-contact:hover, .button-contact:focus {
  background: #179b77;
}


/* ==========================================================================
   Font Classes
   ========================================================================== */

.nav-font,
.title-font,
.slider-title-font {
	color: rgb(236, 231, 229);
}

.subtitle-font,
.slider-description-font,
.footer-font,
.form-font {
	color: rgb(136, 126, 123);
}

#sig-AB {
	color: rgb(10, 126, 123);
}

#sig-DD {
	color: rgb(13, 200, 123);
}

#sig-JM {
	color: rgb(136, 204, 12);
}

#sig-JS {
	color: rgb(136, 126, 15);
}

#sig-JR {
	color: rgb(15, 126, 15);
}


/* ==========================================================================
   Other
   ========================================================================== */

/* Selection */
::-moz-selection {
	background: rgb(95,158,160);
}

::selection {
	background: rgb(95,158,160);
}


/* Borders */
.borders {
  border: 1px solid rgb(0, 0, 0);
}

/* ID: mailForm */
#mailForm {
  border: 2px dashed rgb(14, 71, 104);
}