/* ==========================================================================
   Base Styles
   ========================================================================== */

html {
	font-family: 'OpenSansRegular', Arial, sans-serif;
	font-size: 15px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* ==========================================================================
   Classes
   ========================================================================== */

/* nav-font */
.nav-font {
  font: 45px/55px 'Matchbook', 'Arial', sans-serif;
  letter-spacing: -1px;
}

@media all and (max-width: 520px) {
  .nav-font {
    font-size: 15px;
    letter-spacing: -2px;
  }
}

@media all and (min-width: 521px) and (max-width: 600px) {
  .nav-font {
    font-size: 25px;
    letter-spacing: -2px;
  }
}

@media all and (min-width: 601px) and (max-width: 900px) {
  .nav-font {
    font-size: 30px;
    letter-spacing: -2px;
  }
}


/* title-font */
.title-font {
  margin: 0.5em 0;
  word-spacing: -14px;
  font: 126px/126px 'Sofia', 'Arial', sans-serif;
}


/* subtitle-font */
.subtitle-font {
  font: 36px/50px 'BandaRegular', Arial, sans-serif;
}

@media all and (max-width:600px) {

	.title-font {
		font: 60px/80px 'Sofia', Arial, sans-serif;
	}

	.subtitle-font {
		font: 20px/30px 'BandaRegular', Arial, sans-serif;
	}
}


/* slider-title-font */
.slider-title-font {
  font: 25px 'BandaRegular', sans-serif;
  font-weight: bold;
}

/* slider-description-font */
.slider-description-font {
  font: 20px 'BandaRegular', sans-serif;
}


/* team-font */
.team-font {
	font: 30px/40px 'Sofia', Arial, sans-serif;
}

/* signature-font */
.signature {
  font: 40px/25px 'BiloxiScript', Arial, sans-serif;
}

/* footer-font */
.footer-font {
  font: 13px/20px 'OpenSansLight', 'Arial', sans-serif;
}


/* email-font */
.email-font {
  font: 30px 'Sofia', Arial, sans-serif;
}

/* form-font */
.form-font {
  font: 20px 'BandaRegular', Arial, sans-serif;
}


/* form-title-font */
.form-title-font {
  font: 30px 'Sofia', Arial, sans-serif;
}

/* button-font */
.button-font {
  font: 30px 'OpenSansLight', Arial, sans-serif;
}


/* ==========================================================================
   Other
   ========================================================================== */
