/* ==========================================================================
   Base Styles
   ========================================================================== */

html {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  font-size: 14px;
}

nav {
  top: 0;
  left: 0;
  width: 100%;
  height: 78px;
  position: fixed;
  z-index: 20;
}

input,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input {
  line-height: normal;
}


/* ==========================================================================
   Classes
   ========================================================================== */

/* Separator */
.separator {
  width: 100%;
}


/* Navigation */
.navigation {
  height: 5px;
}

/* Menu */
.menu {
  width: 75%;
  min-width: 280px;
  max-width: 826px;
  margin: 0 auto;
  padding: 0;
}

/* First-Level */
.first-level {
  float: right;
	display: inline-block;
	padding: 15px 10px 2px;
	margin: 0 6px;
	-webkit-border-radius: 0 0 7px 7px;
	-moz-border-radius: 0 0 7px 7px;
	border-radius: 0 0 7px 7px;
	cursor: pointer;
}


/* Dropdown */
.dropdown {

}

/* Second-Level */
.second-level {

}

/* Header */
.header {
  min-width: 280px;
  max-width: 826px;
  margin: 0 auto;
  width: 75%;
}

@media all and (min-width:601px) and (max-width:1020px) {
	.header {
		width: 80%;
	}
}


/* Slideshow */
.slideshow {
  position: relative;
}

@media all and (max-width: 765px) {
  .slideshow {
    height: 1px;
    top: -1500px;
  }
}

/* Slider */
.slider {
  top: 65%; /* 15% */
  left: 15%;
  width: 800px;
  z-index: 11;
  display: none;
  line-height: 25px;
  position: absolute;
}

#slider1 {display:block}

@media all and (max-width: 600px) {
  .slider {
    width: 600px;
  }
}

/* Slider-Title */
.slider-title {
  padding: 10px 15px;
  margin-bottom: 5px;
  display: inline-block;
  border-radius: 15px 0;
}

/* Slider-Description */
.slider-description {
  padding: 10px 15px;
  margin: 0 0 30px 0;
  border-radius: 0 15px;
}

@media all and (max-width: 1215px) {
	.slider {
		width: auto;
		margin-right: 50px;
	}
	.slider-title {
		font-size: 18px;
	}
	.slider-description {
		font-size: 14px;
	}
}

/* Slides */
.slides {
  display: none;
}

/* Slide-Image */
.slide-image {
  width: 100%;
}


/* Team */
.team {
	min-width: 280px;
	max-width: 826px;
  margin: 37px auto 45px;
}

/* Team-Title */
.team-title {
  margin-left: auto;
  margin-right: auto;
  width: 6em
}

/* Signature */
.signature {
  width: 6em;
  line-height: 1.1;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

/* Footer */
.footer {
  height: 78px;
	padding-top: 5px;
  padding-bottom: 150px;
  text-align: center;
}

/* Contact */
.contact {
  margin: 45px 15px 15px;
}

/* Copyright */
.copyright {
  margin: 0 15px 30px;
}


/* Divider */
.divider {
  height: 5px;
  padding: 36px;
  text-align: center;
  vertical-align: middle;
}

/* Email-Font */
.email-font {
  top: -50px;
  position: relative;
}


/* Formulary-Contact */
.formulary-contact {
  min-width: 280px;
  max-width: 826px;
  margin: 0 auto;
  width: 75%;
}

/* Email-Field */
.email-field {
  padding-left: 50px;
}

/*  */
.title {
  min-width: 280px;
  max-width: 826px;
  margin: 0 auto;
  text-align: center;
}


/* ==========================================================================
   Other
   ========================================================================== */

/* Padding */
.padding {
  padding: 36px;
}









/*---------------------------*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

.formulary {
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

.tab-group:after {
  content: "";
  display: table;
  clear: both;
}

.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}

.tab-group .active a {
  background: #1ab188;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

.form-title {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

.form-label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}

.form-label .req {
  margin: 2px;
  color: #1ab188;
}

.form-label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
.form-label.active .req {
  opacity: 0;
}

.form-label.highlight {
  color: #ffffff;
}

.form-input {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}

.form-input:focus {
  outline: 0;
  border-color: #1ab188;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}

.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}

.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}

.button-contact {
  border: 0;
  padding: 10px 0;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
  border-radius: 0 15px;
}


.button:hover, .button:focus, .button-contact:hover, .button-contact:focus {
  background: #179b77;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}
